<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <title> {% block title %} KahootClone {% endblock %} </title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   </head>
   <body>
      {% block header %} 
      <p>KahootClone</p>
      <hr>
      {% endblock %}
      {% block menu %}
      <nav>
      <a href="{% url 'home' %}"> Homepage</a>
      {% if user.is_authenticated %}
         Hi {{ user.username }}!
         <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
         <p>You are not logged in</p>
         <a href="{% url 'login' %}">Log In</a>
         <a href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
      </nav>
      <hr>
      {% endblock %}
      {% block content %}
      <!-- main block -->
      <hr>
      {% endblock %}
      {% block footer %} 
      <hr>
      <p>©2023 KahootClone</p>
      {% endblock %}
   </body>
</html>
<!-- Ejemplo de fichero base.html. 
Esto es solo un ejemplo para empezar a trabajar, 
se espera que lo modifiquéis tanto como sea necesario. --> 
