{% extends 'base.html' %}
{% block title %}
   Home
{% endblock %}

{% block content %}

<div class="container mt-8">
    
    <div class="col-md-12 text-center">
        {% if user.is_authenticated %}
        <h2> ¡Hola {{ user.username }}! </h2>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'questionnaire-create' %}"> Añadir Nuevo Cuestionario </a>
        <a class="btn btn-success btn-lg" role="button" href="{% url 'questionnaire-list' %}"> Ver Todos Tus Cuestionarios</a>
    {% else %}
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'login' %}"> Log In</a>
    {% endif %}
    </div>

    {% if user.is_authenticated %}
    <h3>Tus últimos cuestionarios</h3>
    <div class="row">
        <div class="col-12">
            <ul>
                {% for questionnaire in latest_questionnaire_list %}
                <li><a href="{% url 'questionnaire-detail' questionnaire.id %}"> {{ questionnaire.title }} </a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>

    <p> </p>
    <br>
</div>


{% endblock content %}
