{% extends 'base.html' %}
{% block title %}
   Actualizar respuesta
{% endblock %}

{% block content %}
<div class="container p-none">
    <div class="side-p">
        <h3>Actualizar respuesta</h3>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="btn btn-link" type="button" value="Cancelar" onclick="window.history.go(-1);">
            <input class="btn btn-primary" type="submit" value="Confirmar">
        </form>
    </div>
</div>
{% endblock content %}
