{% extends 'base.html' %}
{% block title %}
   ¿Confirmar borrado?
{% endblock %}

{% block content %}
<div class="container p-none">
    <div class="side-p">
        <h3>¿Estás seguro?</h3>
        <p> Estas a punto de borrar la respuesta <strong>{{ answer.answer }}</strong>, confirma la acción.</p>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link" type="button" value="Cancelar" onclick="window.history.go(-1);">
            <input class="btn btn-danger" type="submit" value="Confirmar">
        </form>
    </div>
</div>
{% endblock content %}