{% extends 'base.html' %}

{% block title %}
   Contador
{% endblock %}

{% block stylesheets %}
{% endblock %}

{%block header%}
{%endblock%}

{% block content %}
    
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg-info">
        <div class="alert alert-success container p-none text-center" role="alert">
            <h2>Empazamos en: </h2>
            <h1 class="display-1" id="countdown"></h1>
            <h2>segundos</h2>    
        </div>
        {% load static %}
        <audio controls loop autoplay hidden>
            <source src="{% static 'audio/countdown.mp3' %}" type="audio/mpeg"> Tu navegador no soporta el audio.
        </audio>
    </div>

    <script>
      var countdown = "{{ game.countdownTime }}";
      
      function updateCountdown() {
        if (countdown === -1) {
          window.location.reload();
        } else {
            if (countdown === 0) {
                document.getElementById("countdown").innerHTML = "LETS GO!!!!";
            } else {
                document.getElementById("countdown").innerHTML = countdown;
            }
          countdown--;
          setTimeout(updateCountdown, 1000);
        }
      }
      
      updateCountdown();
    </script>
{% endblock %}
