{% extends 'base.html' %}

{% block title %}
   Juego
{% endblock %}

{% block stylesheets %}
{% endblock %}

{%block header%}
{%endblock%}

{% block content %}
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg-info">

        {%if is_owner == False %}
            <h1>El juego no pertenece al usuario loggeado</h1>
        {%else%}
        <div class="alert alert-success container p-none text-center" role="alert">
            <h3>Conectate a XXXXX</h3>
            con el PIN
            <h3>{{ game.publicId }}</h3>
        </div>
        
        <p>Cuando entres, tu nombre aparecera aquí:</p>
        <a class="btn btn-primary btn-lg mr-3" href="{% url 'game-count-down' %}" role="button">Empezar</a>
        <h2>Lista de participantes: </h2>
            
        <div id="test"></div>
        
        {% load static %}
        <audio controls loop autoplay hidden>
            <source src="{% static 'audio/lobby.mp3' %}" type="audio/mpeg"> Tu navegador no soporta el audio.
        </audio>
    </div>
    
    
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        html::-webkit-scrollbar{display:none !important}body::-webkit-scrollbar{display:none !important}
    </style>
    <script>
        function refreshTime() {
            $.ajax({
                url: "{% url 'game-updateparticipant' %}",
                success: function (data) {
                    console.log("success function called");
                    $('#test').html(data);
                    setTimeout(refreshTime,3000);
                }
            });
        }
        
        
        $(document).ready(function () {
            console.log("setting interval");
            refreshTime();
        });
    </script>
    
    {% endif %}
{% endblock %}