{% extends 'base.html' %}
{% block title %}
   Detalles del cuestionario
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

            <h1>Detalles del cuestionario</h1>

            <h4>
                {{ questionnaire.title }}:
                <a class="btn btn-outline-success btn-sm" href="{% url 'questionnaire-update' questionnaire.id %}">Editar título</a>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'game-create' questionnaire.id %}">Jugar</a>
            </h4>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Pregunta</th>
                    <th>Número de respuestas</th>
                    <th>Valor de la pregunta</th>
                    <th></th>
                </tr>
                {% if questionnaire.question_set.all|length == 0 %}
                    <td colspan="4"> No se han detectado preguntas </td>
                {% else %}
                    {% for question in questionnaire.question_set.all %}
                    <tr>
                    <td><a href="{% url 'question-detail' question.id %}">{{ question.question }}</a></td>
                    <td>{{ question.answer_set.count }}</td>
                    <td>{{ question.value }}</td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{% url 'question-remove' question.id %}">Borrar</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            
            <a class="btn btn-primary btn-lg mr-3" href="{% url 'question-create' questionnaire.id %}"> Añadir nueva pregunta</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'questionnaire-list' %}"> Volver a la lista de cuestionarios</a>
        
        </div>
    </div>
</div>
{% endblock %}