/* Estilos para el menú */
nav {
    display: flex; /* convierte el contenedor del menú en un flex container */
    justify-content: space-between; /* distribuye los elementos del menú en el espacio disponible */
    align-items: center; /* centra verticalmente los elementos del menú */
  }
  nav a {
    margin: 0 10px; /* agrega un margen horizontal a los enlaces del menú */
  }
  